import styles from './{{kebabCase componentName}}.module.css'

type {{pascalCase componentName}}Props = {}

export const {{pascalCase componentName}} = ({}: {{pascalCase componentName}}Props) => (
  <div className={styles.{{~camelCase componentName~}}}>{{pascalCase componentName}}</div>
)
